<div
  class="card text-dark rounded-2 shadow bg-light mb-3"
  style="min-width: 16rem"
>
  <div class="card-header">
    <h5 class="text-center text-shadow-2" [style]="{ 'letter-spacing': '2px' }">
      {{ product.productName | uppercase }}
    </h5>
  </div>
  <div class="card-body">
    <p
      class="card-title"
      [ngStyle]="
        product.isVeg === false ? { color: 'red' } : { color: 'green' }
      "
    >
      {{ product.productDescription }}
    </p>

    <p>
      <span>PRICE</span>:
      <span ssMyTestDir>
        {{ product.productPrice | discount : "15" | currency : "INR" }}
      </span>
    </p>
    <p><span>QTY Available</span>: {{ product.quantityAvailable }}</p>

    <span class="card-text" *ngIf="product.isVeg === true">
      <img src="../../assets/veg.png" alt="" />
    </span>
    <span class="card-text" *ngIf="product.isVeg === false">
      <img src="../../assets/nonveg.jpg" alt="" />
    </span>
    <br />
  </div>
  <div class="card-footer d-flex flex-row-reverse">
    <button
      type="button"
      class="btn btn-link"
      [routerLink]="['/product', product.productId]"
    >
      Detail
    </button>
    <button
      [disabled]="isBtnDisabled()"
      type="button"
      (click)="addToCart(product)"
      class="btn btn-primary rounded-0"
    >
      Add To Cart
    </button>
  </div>
</div>
