<nav class="navbar navbar-dark bg-success">
  <a class="navbar-brand ms-2">Get Basket</a>
  <form class="form-inline d-flex">
    <input
      class="form-control mr-sm-2 rounded-0"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <button class="btn btn-dark mx-1 my-sm-0 rounded-0" type="submit">
      Search
    </button>
    <button type="button" class="btn btn-primary mx-3 rounded-0">
      <span class="badge badge-light"> {{ getShoppingList() }}</span>
    </button>
  </form>
</nav>
